.App {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

li {
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

p {
    text-align: start;
}

#noteForm {
    background-color: rgb(0, 0, 0);
    border: none;
}

#noteDescription {
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: rgb(69, 69, 69);
    color: rgb(255, 255, 255);
    border: none;
}

#noteName {
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: rgb(69, 69, 69);
    color: rgb(255, 255, 255);
    border: none;
}

#noteName:focus,
#noteDescription:focus {
    outline: none;
    border: none
}

/* #noteName:hover,
#noteDescription:hover {
    background-color: rgb(214, 214, 214);
    color: black;
} */


#card {
    background-color: rgb(40, 40, 40);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    border: none;

}

#card:hover {
    background-color: rgb(77, 77, 77);
    cursor: pointer;
}

/* Card buttons */

.btn.deleteButton {
    background-color: rgb(217, 86, 74);
    color: white;
    margin-right: 5px;
}

.btn.deleteButton:hover {
    background-color: rgb(255, 0, 0);
    color: white;
    margin-right: 5px;
}

.btn.copyButton {
    background-color: rgb(37, 223, 240);
    color: white;
    margin-right: 5px;
}

.btn.copyButton:hover {
    background-color: rgb(38, 239, 115);
    color: white;
    margin-right: 5px;
}


/* Save not buttons */
#saveButton {
    background-color: rgb(101, 97, 232);
    border-radius: 5px;
    margin-bottom: 10px;
    border: none;
}

#saveButton:hover {
    background-color: rgb(38, 239, 115);
    border: none;
}

#nav-link {
    padding: 5px;
    border: 1px solid red;
    padding: 5px;
}

.transparent {
    color: transparent;
}


::-webkit-scrollbar {
    display: none;
}

.nav-link.active {
    background-color: rgb(101, 97, 232) !important;
    color: #ffffff !important;
}