h1{
padding-bottom: 10px;
}
li{
    margin-left: 10px;
    margin-right: 10px;
}

p{
    text-align: start;
}
::-webkit-scrollbar {
    display: none;
} 

 .btn.deleteButton{
        background-color: rgb(209, 58, 58);
        color: white;
        margin-right: 5px;
}

.btn.deleteButton:hover{
        background-color: rgb(255, 0, 0);
        color: white;
        margin-right: 5px;
}