.App {
    background-color: black;
    color: white;
}

h1 {
    padding-bottom: 10px;
}

li {
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

p {
    text-align: start;
}

#botoncillo {
    background-color: blueviolet;
    border: none;
    margin: 5px;

}

#projectForm,
#noteForm,
#taskForm,
#projectNoteForm {
    background-color: black;
}

#projectName,
#projectDescription,
#noteDescription,
#noteName,
#taskName,
#projectNoteName,
#projectNoteDescription {
    border-radius: 5px;
    background-color: rgb(69, 69, 69);
    border: none;
    color: white;
    margin-bottom: 10px;
}



#deleteButton {
    background-color: rgb(118, 59, 59);
    color: white;
    margin-right: 5px;
}


#saveProject,
#saveNote,
#saveTask,
#saveProjectNote {
    background-color: rgb(101, 97, 232);
    border-radius: 5px;
}

#saveProject:hover,
#saveTask:hover,
#saveNote:hover,
#saveProjectNote:hover {
    background-color: rgb(38, 239, 115);

}

.project {
    background-color: rgb(32, 32, 32);
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
}

.project:hover {
    background-color: rgb(149, 149, 149);
    cursor: pointer;

}

#card {
    background-color: rgb(40, 40, 40);
    color: white;
    margin-bottom: 10px;
    border-radius: 10px;
}

#card:hover {
    background-color: rgb(77, 77, 77);
    cursor: pointer;
}

::-webkit-scrollbar {
    display: none;
}


.task-header {
    display: flex;
    align-items: center;
}

.task-header h2 {
    margin: 0;
    margin-left: 10px;
    /* Separación entre el check y el título */
    text-align: left;
    /* Alineación a la izquierda */
    flex-grow: 1;
    /* Esto permite que el título ocupe el espacio restante */
}



.btn.deleteButton {
    background-color: rgb(209, 58, 58);
    color: white;
    margin-right: 5px;
}

.btn.deleteButton:hover {
    background-color: rgb(255, 0, 0);
    color: white;
    margin-right: 5px;
}


.btn.checkButton {
    background-color: rgb(37, 223, 240);
    color: white;
    margin-right: 5px;
}

.btn.checkButton:hover {
    background-color: rgb(38, 239, 115);
    color: white;
    margin-right: 5px;
}

.nav-link.active {
    background-color: rgb(101, 97, 232) !important;
    color: #ffffff !important;
}

.projectsContainer {
    margin-top: 10px;
}